.game{
    width: 600px;
    height: 200px;
    border: 1px solid black;
    margin: auto;
    margin-top: 10%;
}

.modal{
    display: none;
    width: 600px;
    height: 200px;
    border: 1px solid black;
    margin-left: 34.2%;
    margin-top: -0.9%;
}

#botao{
   
    z-index: 2;
    display: block;
    margin-top: -50px;
    margin-left: 250px;
}#texto{
    
    font-size: 30px;
    z-index: 2;
    display: block;
    margin-left: 200px;
}

#nuvens{
    position: absolute;
    margin-top: -95px;
    width: 600px;
    height: 150px;
    background-image: url(nuvens.png);

    animation: updown 2.5s infinite linear;
}@keyframes updown {
    0% {
      transform: translateY(-3%);
    }
  
    50% {
      transform: translateY(2%);
    }
  
    100% {
      transform: translateY(-3%);
    }
  }


#dino {
    z-index: 2;
    width: 50px;
    height: 50px;
    background-image: url(trex.jpg);
    background-size: 50px 50px;
    position: relative;
    top: 150px;
}

.jump{
    animation: jump 0.3s linear;
}

@keyframes jump{
    0%{top: 150px;}
    30%{top: 130px;}
    50%{top: 80px;}
    80%{top: 130px;}
    100%{top: 150px;}
}


#cactus {
    width: 20px;
    height: 40px;
    position: relative;
    top: 110px;
    left: 500px;

    background-image: url(cactus.png);
    background-size: 20px 40px;

    animation: block 2.5s infinite linear;
}

@keyframes block{
    0%{left: 580px;}
    100%{left: 0px;}
}

#score {
    font-size: 30px;
    margin-top: -250px;
    margin-left: 650px;
}